.app {
  text-align: center;
  padding-bottom: 100px;
}

.app > form {
  position: fixed;
  bottom: 0;
  display: flex;/*to take the mazority of the room*/
  width: 100%;
}
.app > form > input {
  padding: 20px;
  flex: 1;/*to take most pf the  space*/
}

.app > form > button {
  padding: 20px;
}
.chatmessage {
  color: red;
}

